@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <article class="conteudo">
        <h1 color="black"> Blanka</h1>
       <img src="~/Content/Imagens/blanka.png" />
        <p>
            <font style='font-weight:bold;'>Primeira aparição</font>: Street Fighter II The World Warrior (1991) <br>
            <font style='font-weight:bold;'>Nascimento</font>: 12 de fevereiro de 1966. <br>
            <font style='font-weight:bold;'>Altura</font>: 192cm. <br>
            <font style='font-weight:bold;'>Peso</font>: 96kg. <br>
            <font style='font-weight:bold;'>Medidas</font>: B198, C120, Q172. <br>
            <font style='font-weight:bold;'>Tipo sanguíneo</font>: B. <br>
            <font style='font-weight:bold;'>Habilidades especiais</font>: Caçar, Eletricidade.<br>
            <font style='font-weight:bold;'>Gosta</font>: Frutas tropicais, Pirarucu, Sua mãe. <br>
            <font style='font-weight:bold;'>Desgosta</font>: Army ants (espécie de formiga). <br>
            <font style='font-weight:bold;'>Estilo de luta</font>: Luta Selvagem autodidata (Army Ants) / Capoeira. <br>
            <font style='font-weight:bold;'>Origem</font>: Brasil (lugar de nascença é provável como sendo Tailândia). <br>
            <font style='font-weight:bold;'>Uma fala de vitória</font>: "Ver você em ação é uma piada!" <br>
            <font style='font-weight:bold;'>SSF2 nickname</font>: "A selvagem criança da natureza". <br>
            <font style='font-weight:bold;'>SFA3 nickname</font>: "A animal pessoa amazônica". <br>
            <font style='font-weight:bold;'>SF4 nickname</font>: "Guerreiro da selva". <br>
            <font style='font-weight:bold;'>SFA3 stage</font>: Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira: talvez possa ser Mato Grosso, ou Tocantins?). <br>
            <font style='font-weight:bold;'>SF2 stage</font>: Bacia do rio Amazonas (Brasil). <br>
            <font style='font-weight:bold;'>Golpes especiais famosos</font>: Electric Thunder, Rolling Attack.
        </p>
    </article>
