body {
  background: url(http://www.desktopimages.org/preview/get_photo/66514/1280/720) no-repeat;
  font-family: Arial;
}

.menu {
  border-radius: 10px;
  border: 1px solid silver;
  width: 500px;
  height: 50px;
  margin: 220px auto 50px auto;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  }

.menu li  {
  display: inline;
  color: white;
  font-weight: bold;
  margin-right: 20px;
 }

 .menu li a {
	text-decoration: none;
 }

 header, article, div {
	width: 650px;
	margin: auto;
}

header {
	background-color: #444444;
	color: #ededed;
}

header, .conteudo {
  padding: 10px;
}

.conteudo {
	background-color: #ededed;
	min-height: 560px;
}

.conteudo p {
	text-align: left;
	margin-left: 10px;
	margin-bottom: auto;
}

.conteudo img {
	float: left;
}
